<div class="dashboard-container">
  <h2 class="dashboard-title text-center mb-4 fw-bold text-success">
    Explora Mundialízate
  </h2>

  <!-- Cargando -->
  <div *ngIf="cargando" class="text-center mt-5">
    <h4>Cargando eventos...</h4>
  </div>

  <!-- Error -->
  <div *ngIf="error" class="text-center text-danger mt-5">
    {{ error }}
  </div>

  <!-- Eventos -->
  <div class="card-container" *ngIf="!cargando && !error">
    <div *ngFor="let e of eventos" class="card custom-card">

      <img [src]="e.imagen" class="card-img-top" [alt]="e.titulo">

      <div class="card-body">
        <h5 class="card-title">{{ e.titulo }}</h5>
        <p class="card-text">{{ e.descripcion }}</p>

        <a 
          class="btn btn-success"
          [routerLink]="['/element', e._id]">
          Ver más
        </a>
      </div>

    </div>
  </div>
</div>
