<header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 py-3">

  <a class="navbar-brand fw-bold text-success" routerLink="/inicio">
    🌍 MUNDIALÍZATE
  </a>

  <!-- (opcional) botón hamburguesa si usas bootstrap -->
  <!--
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  -->

  <div class="collapse navbar-collapse" id="navbarNav">

    <!-- SI NO ES ADMIN -->
    <ul *ngIf="!auth.isAdmin()" class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio">Inicio</a>
      </li>

      <li *ngIf="isLogged()" class="nav-item">
        <a class="nav-link" routerLink="/calendario">Calendario</a>
      </li>

      <li *ngIf="isLogged()" class="nav-item">
        <a class="nav-link" routerLink="/categorias">Eventos</a>
      </li>

      <li *ngIf="isLogged()" class="nav-item">
        <a class="nav-link" routerLink="/perfil">Mi perfil</a>
      </li>
    </ul>
    

    <!-- BOTONES DERECHA -->
    <div>
      <a *ngIf="!isLogged()" routerLink="/iniciar-sesion" class="btn btn-danger">
        Iniciar sesión
      </a>

      <button *ngIf="isLogged()" (click)="logout()" class="btn btn-danger">
        Cerrar sesión
      </button>
    </div>

  </div>
</header>



